# Generated datasets
Data_Preparation/_mini_dataset/

# Temporary visualizations
Data_Preparation/_tmp_visual/

# Generated data
Data/
Outputs/
Runs/
Logs/

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/
Data_Preparation/_tmp_svg/
*.pt
*.pth
*.onnx
*.engine
.pytest_cache/
*.egg-info/
.ipynb_checkpoints
runs/
